@model IEnumerable<QuestionsDataAccess.Models.QuestionEntity>

@{
    ViewData["Title"] = "GetQuestions";
    Layout = "_Layout";
}

@* <h1>Section</h1> *@

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th> *@
            <th>
                Questions
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CorrectAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th> *@
            <th>
                @* @Html.DisplayNameFor(model => model.IsBookmarked) *@
                Bookmark Question
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td> *@
            <td style="word-wrap: break-word">
                @Html.ActionLink(item.QuestionString, "GetQuestionById", "Questions", new {currId = item.QuestionId, travId = 0})
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CorrectAns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsBookmarked)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
