@model IEnumerable<QuestionsDataAccess.Models.QuestionEntity>

@{
    ViewData["Title"] = "GetQuestions";
    Layout = "_Layout";
}



<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th> *@
            <th>
                
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CorrectAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBookmarked)
                Bookmark Question
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th> *@
        </tr>
    </thead>
    <div class="accordion">
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td style="word-wrap: break-word">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-link btn-light btn-block" data-toggle="collapse" data-target="#questionid-@(item.QuestionId)" aria-expanded="false">
                                        @Html.DisplayFor(modelItem => item.QuestionString)
                                    </button>
                                </div>
                                <div id="questionid-@(item.QuestionId)" class="collapse">
                                    <div class="card-body">
                                        @foreach (var choice in item.AnswerChoices)
                                        {
                                            <label class="btn btn-light btn-block">
                                                <input type="radio" name="questionChoice@(item.QuestionId)" /> @Html.DisplayFor(modelItem => choice.Choice).) @Html.DisplayFor(modelItem => choice.Details)
                                            </label>

                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
            }
        </tbody>
    </div>
</table>



<br />
@* <div class="row">
    <div class="col-xl-10">
    </div>
    <div class="col-xl-2">
        <button type="button" class="btn btn-danger btn-lg btn-block">
            Finish Exam
        </button>
    </div>
</div> *@

<button type="button" class="btn btn-danger btn-lg btn-block">
    Finish Exam
</button>