@model QuestionsDataAccess.Models.QuestionEntity

@{
    ViewData["Title"] = "GetQuestionById";
    Layout = "_Layout";
}

@* <h1>GetQuestionById</h1> *@

<div>
    @* <h4>QuestionEntity</h4> *@
    <hr />
    <br />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionId)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionString)
        </dt> *@
        <dd class = "col-sm-10">
            <strong>@Html.DisplayFor(model => model.QuestionString)</strong>
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBookmarked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBookmarked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd> *@
    </dl>
</div>

<form>
    @foreach (var item in Model.AnswerChoices)
    {
        <div>
            <input type="radio" id="@Html.DisplayFor(modelItem => item.Choice)" name="choices" value="@Html.DisplayFor(modelItem => item.Choice)" />
            <label for="@Html.DisplayFor(modelItem => item.Choice)">@Html.DisplayFor(modelItem => item.Choice).) <span>@Html.DisplayFor(modelItem => item.Details)</span></label><br />
        </div>
    }
</form>

<br />
<br />
<div>
    <dl class="row">
        <dt class="col-sm-1">
            Bookmark Question
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBookmarked)
        </dd>
    </dl>

    <span>
        <span>
               @Html.ActionLink("Go to the Next Question", "GetQuestionById", "Questions", new {currId = Model.QuestionId, travId = ++Model.QuestionId})
        </span>
        <br />
    </span>
    <span>
        <span>
               @Html.ActionLink("Go to the Previous Question", "GetQuestionById", "Questions", new {currId = --Model.QuestionId, travId = --Model.QuestionId})
        </span>
    </span>
</div>


<div>
    <span>
    <a asp-action="GetQuestions"><strong>Back to Questions List</strong></a>
    </span>
</div>
